{% extends "main/base.html" %} {% load static %}
 {% block main_content %} 
{% if customers %}
<div class="table-responsive">
<table class="table table-bordered ">
  <thead>
    <tr>
      <th>S/N</th>
      <th>Customer Name</th>
        {% if user.is_staff %}
      <th>Added by</th>
        {% endif %}
      <th>ID</th>
      <th>Date Added</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Passport</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td>{{ forloop.counter }}</td>
        {% if user.is_staff %}
      <td><a href="{{ customer.get_absolute_url }}">{{ customer.name }}</a></td>
      <td>{{ customer.user.name }}</td>
        {% else %}
      <td>{{ customer.name }}</td>
        {% endif %}
      <td>{{ customer.id }}</td>
      <td>{{ customer.date_added }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.address }}</td>
      <td><img src="{{ customer.passport.url }}" class="img" alt="" width="200" height="150"></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<p>No customers yet</p>
{% endif %}
{% endblock main_content %}

{% block js %}

{% endblock js %}