{% extends "main/base.html" %} {% load static %}
 {% block main_content %} 
{% if customers %}
<table class="table table-bordered m-20">
  <thead>
    <tr>
      <th>S/N</th>
      <th>Customer Name</th>
      <th>ID</th>
      <th>Current Balance</th>
      <th>Total Deposits</th>
      <th>Total withdrawals</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.id }}</td>
      <td>{{ customer.balance }}</td>
      <td>{{ customer.deposit_set.count }}</td>
      <td>{{ customer.withdrawal_set.count }}</td>
      <td><a href="{{ customer.get_absolute_url }}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No customers yet</p>
{% endif %}
{% endblock main_content %}

{% block js %}

{% endblock js %}